!!!
html(ng-app="contactApp")
  head
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    meta(content='text/html;charset=utf-8', http-equiv='content-type')
    base(href='/')
    title Contact
    //if lt IE 9
      script(src='/js/lib/html5shiv.js', type='text/javascript')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/light-theme.css', id='color-settings-body-color', media='all')
    link(rel='stylesheet', href='/css/app.css')
  body.contrast-green
    block body